@model AS_Therapy_GL.Models.GL_ACCHARMST

@{
    ViewBag.Title = "EditAccountHead";

    if (HttpContext.Current.Session["LoggedUserType"] == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }

    var LoggedUserTp = HttpContext.Current.Session["LoggedUserType"].ToString();
    var LoggedUserStatus = HttpContext.Current.Session["LoggedUserStatus"].ToString();
    var LoggedCompanyStatus = HttpContext.Current.Session["LoggedCompanyStatus"].ToString();

    if ((LoggedUserTp == "CompanyAdmin" || LoggedUserTp == "UserAdmin" || LoggedUserTp == "User") && LoggedUserStatus == "A" && LoggedCompanyStatus == "A")
    {

    }
    else
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }
    string asset = "ASSET", liability = "LIABILITY", income = "INCOME", expense = "EXPENSE";
    var type = "";
    if (Model.HEADTP == 1)
    {
       type = asset;
    }
    else if(Model.HEADTP==2)
    {
        type = liability;
    }
    else if (Model.HEADTP == 3)
    {
        type = income;
    }
    else if (Model.HEADTP == 4)
    {
        type = expense;
    }

    List<SelectListItem> listType = new List<SelectListItem>();
    listType.Add(new SelectListItem { Text = "ASSET", Value = "1" });
    listType.Add(new SelectListItem { Text = "LIABILITY", Value = "2" });
    listType.Add(new SelectListItem { Text = "INCOME", Value = "3" });
    listType.Add(new SelectListItem { Text = "EXPENDITURE", Value = "4" });

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    @Html.HiddenFor(model => model.ACCHARMSTId)
    @Html.HiddenFor(model => model.COMPID)
    @Html.HiddenFor(model => model.HEADCD)


    <div id="contentHeaderBox">
        <h1>Update Account Head Information</h1>
    </div>
    <br />

    <div class="col-md-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    @Html.Label("name","Head Type", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                   
                    @Html.DropDownListFor(model => model.HEADTP,listType, htmlAttributes: new { @class = "form-control",@Value=type ,autofocus =true})
                 
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-3">
                    @Html.Label("name","Head Name", htmlAttributes: new { @class = "control-label" })
                </div>

                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.HEADNM, htmlAttributes: new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.REMARKS, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <br />
            @Html.HiddenFor(model => model.USERPC)
            @Html.HiddenFor(model => model.INSTIME)
            @Html.HiddenFor(model => model.INSIPNO)
            @Html.HiddenFor(model => model.INSLTUDE)
            @Html.HiddenFor(model => model.INSUSERID)

            @Html.TextBoxFor(model => model.UPDLTUDE, new { id = "latlon", style = "display: none;" })
            <input id="lat" type="hidden" />
            <input id="lon" type="hidden" />

            <br />
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-8">
                    <input type="submit" class="btn btn-info" value="Update" name="Command" />
                    <input type="submit" class="btn btn-warning" value="Back to List" name="Command" />
                </div>

            </div>

        </div>
    </div>


    //Latitute & longitude
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script language="javascript" type="text/javascript">
        $(function () {
            navigator.geolocation.getCurrentPosition(showPosition);

            function showPosition(position) {
                var coordinates = position.coords;
                $("#lat").val(coordinates.latitude);
                $("#lon").val(coordinates.longitude);

                $("#latlon").val(
                    $("#lat").val() + "," + $("#lon").val()
                );
            }
        });
    </script>

}