@using System.Data
@using System.Data.SqlClient
@using AS_Therapy_GL.DataAccess
@using AS_Therapy_GL.Models

@{
    Layout = null;

    if (HttpContext.Current.Session["LoggedUserType"] == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }

    var LoggedUserTp = HttpContext.Current.Session["LoggedUserType"].ToString();
    var LoggedUserStatus = HttpContext.Current.Session["LoggedUserStatus"].ToString();
    var LoggedCompanyStatus = HttpContext.Current.Session["LoggedCompanyStatus"].ToString();

    if ((LoggedUserTp == "CompanyAdmin" || LoggedUserTp == "UserAdmin" || LoggedUserTp == "User") && LoggedUserStatus == "A" && LoggedCompanyStatus == "A")
    {

    }
    else
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }



    var comapnyid = Model.COMPID;
    var accountCD = Model.ACCOUNTCD;
    var accountName = Model.ACCOUNTNM;

    Therapy_GL_DbContext db = new Therapy_GL_DbContext();
    Int64 compid = Convert.ToInt64(comapnyid);
    var SelectCompanyName = from n in db.AslCompanyDbSet where n.COMPID == compid select new { n.COMPNM, n.ADDRESS, n.CONTACTNO };
    string companyName = "", address = "", contactNo = "";
    foreach (var n in SelectCompanyName)
    {
        companyName = n.COMPNM;
        address = n.ADDRESS;
        contactNo = n.CONTACTNO;
    }
    var compNm = companyName;
    var Address = address;
    var contactno = contactNo;


    TimeZoneInfo timeZoneInfo;
    timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById("Central Asia Standard Time");
    DateTime currentDateTime = TimeZoneInfo.ConvertTime(DateTime.Now, timeZoneInfo);


    var currentTime = currentDateTime.ToString("dd-MMM-yyyy");
    string date = Convert.ToString(currentTime);
    DateTime parseDate = DateTime.Parse(date);
    string current_Date_Time = parseDate.ToString("dd-MMM-yyyy");

    var CurrentYear = currentDateTime.ToString("yyyy");

    decimal totaldebit_Final = 0, totalcredit_Final = 0, totalamount_Final = 0;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GetDrilDownReport (Month wise(Account) Trail Balance report)</title>

    @* new added..................................... *@
    <script src="~/Content/AdminPanel/js/jquery-2.1.3.js"></script>

    <link href="~/Content/AdminPanel/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.2.0-dist/css/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-3.2.0-dist/js/bootstrap.js"></script>

    <link href="~/Content/AdminPanel/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/AdminPanel/css/sweet-alert.css" rel="stylesheet" />
    <link href="~/Content/AdminPanel/css/Theme/Default.css" rel="stylesheet" />
    <link href="~/Content/AdminPanel/css/Theme/responsive.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="col-md-12" id="mainContentBox">
            <div id="contentBox">
                <div id="contentHeaderBox" style="height: 50px">
                    @*<h1 style="text-align: center;">Trial Balance</h1>*@
                    <div class="col-md-6"><p style="padding-left: 6px; padding-top: 13px; text-align: left; font-size: 16px;">@compNm</p></div>
                    <div class="col-md-6"><p style="font-size: 16px; padding-top: 13px; padding-right: 5px; text-align: right;">Balance : Summary & Details</p></div>

                </div>
                <br />

                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">@accountName</div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-condensed" style="border-collapse:collapse;">
                                                <thead style="background-color: #DFF0D8;">
                                                    <tr>
                                                        <th style="text-align: left; width:8%">Month</th>
                                                        <th style="width: 12%"></th>
                                                        <th style="width: 35%"></th>
                                                        <th style="text-align: right; width:10%">Debit Balance</th>
                                                        <th style="text-align: right; width:17%">Credit Balance</th>
                                                        <th style="text-align: right; width:18%">Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{

                                                        System.Data.SqlClient.SqlConnection connnectionF = new System.Data.SqlClient.SqlConnection(System.Configuration.ConfigurationManager.ConnectionStrings["Therapy_GL_DbContext"].ToString());
                                                        string queryF = string.Format(
                                                            @"SELECT DISTINCT B.COMPID,B.DEBITCD, LASTDT,  UPPER(CONVERT(varchar(3),LASTDT,7))+CONVERT(varchar(2),LASTDT,2) YR,UPPER(CONVERT(varchar(3),LASTDT,7))+'-'+CONVERT(varchar(2),LASTDT,2) LASTMY,
A.DEBITAMT DRAMT, A.CREDITAMT CRAMT, SUM(B.DEBITAMT)-SUM(B.CREDITAMT) AMT
FROM (
SELECT DISTINCT DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,TRANSDT)+1,0)) LASTDT,COMPID,DEBITCD, SUM(DEBITAMT) DEBITAMT, SUM(CREDITAMT) CREDITAMT
FROM GL_MASTER WHERE COMPID = '{0}' AND DEBITCD='{1}' AND right(CONVERT(varchar(11),TRANSDT),4) = '{3}' AND TRANSDT <= '{2}'
GROUP BY DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,TRANSDT)+1,0)),COMPID,DEBITCD
) A, GL_MASTER AS B
WHERE B.TRANSDT <= A.LASTDT AND B.DEBITCD = '{1}' AND B.TRANSDT <= '{2}' AND B.COMPID = '{0}' AND A.COMPID = B.COMPID
GROUP BY   B.COMPID,B.DEBITCD,LASTDT, UPPER(CONVERT(varchar(3),LASTDT,7))+CONVERT(varchar(2),LASTDT,2), UPPER(CONVERT(varchar(3),LASTDT,7))+'-'+CONVERT(varchar(2),LASTDT,2), A.DEBITAMT, A.CREDITAMT",
                                                            comapnyid, accountCD, current_Date_Time, CurrentYear);
                                                        System.Data.SqlClient.SqlCommand cmdF = new System.Data.SqlClient.SqlCommand(queryF, connnectionF);
                                                        connnectionF.Open();
                                                        SqlDataAdapter daF = new SqlDataAdapter(cmdF);
                                                        DataTable dsF = new DataTable();
                                                        daF.Fill(dsF);
                                                        if (dsF.Rows.Count != 0)
                                                        {
                                                            foreach (DataRow data in dsF.Rows)
                                                            {
                                                                string monthYearF = data["YR"].ToString();

                                                                System.Data.SqlClient.SqlConnection conn = new System.Data.SqlClient.SqlConnection(System.Configuration.ConfigurationManager.ConnectionStrings["Therapy_GL_DbContext"].ToString());
                                                                string query = string.Format(
                                                                    @"SELECT DISTINCT B.COMPID,B.DEBITCD, LASTDT,UPPER(CONVERT(varchar(3),LASTDT,7))+CONVERT(varchar(2),LASTDT,2) YR, UPPER(CONVERT(varchar(3),LASTDT,7))+'-'+CONVERT(varchar(2),LASTDT,2) LASTMY,
A.DEBITAMT DRAMT, A.CREDITAMT CRAMT, SUM(B.DEBITAMT)-SUM(B.CREDITAMT) AMT
FROM (
SELECT DISTINCT DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,TRANSDT)+1,0)) LASTDT,COMPID,DEBITCD, SUM(DEBITAMT) DEBITAMT, SUM(CREDITAMT) CREDITAMT
FROM GL_MASTER WHERE COMPID = '{0}' AND DEBITCD='{1}' AND right(CONVERT(varchar(11),TRANSDT),4) = '{3}' AND TRANSDT <= '{2}'
GROUP BY DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,TRANSDT)+1,0)),COMPID,DEBITCD
) A, GL_MASTER AS B
WHERE B.TRANSDT <= A.LASTDT AND B.DEBITCD = '{1}' AND B.TRANSDT <= '{2}' AND B.COMPID = '{0}' AND A.COMPID = B.COMPID
GROUP BY   B.COMPID,B.DEBITCD,LASTDT,  UPPER(CONVERT(varchar(3),LASTDT,7))+CONVERT(varchar(2),LASTDT,2), UPPER(CONVERT(varchar(3),LASTDT,7))+'-'+CONVERT(varchar(2),LASTDT,2), A.DEBITAMT, A.CREDITAMT",
                                                                    comapnyid, accountCD, current_Date_Time, CurrentYear);
                                                                System.Data.SqlClient.SqlCommand cmd = new System.Data.SqlClient.SqlCommand(query, conn);
                                                                conn.Open();
                                                                SqlDataAdapter da = new SqlDataAdapter(cmd);
                                                                DataTable ds = new DataTable();
                                                                da.Fill(ds);

                                                                string month = "", lastDate = "";
                                                                Decimal debit = 0, credit = 0, amount = 0;
                                                                Int64 companyid = 0, debitCd = 0, id = 0;
                                                                if (ds.Rows.Count != 0)
                                                                {
                                                                    foreach (DataRow row in ds.Rows)
                                                                    {
                                                                        string monthYear = row["YR"].ToString();
                                                                        if (monthYear == monthYearF)
                                                                        {
                                                                            companyid = Convert.ToInt64(row["COMPID"].ToString());
                                                                            debitCd = Convert.ToInt64(row["DEBITCD"].ToString());

                                                                            string lastdate = row["LASTDT"].ToString();
                                                                            DateTime parselastDate = DateTime.Parse(lastdate);
                                                                            lastDate = parselastDate.ToString("dd-MMM-yyyy");

                                                                            month = row["LASTMY"].ToString();
                                                                            debit = Convert.ToDecimal(row["DRAMT"].ToString());
                                                                            credit = Convert.ToDecimal(row["CRAMT"].ToString());
                                                                            amount = Convert.ToDecimal(row["AMT"].ToString());

                                                                            string result_debit = "", result_credit = "", result_amount = "";
                                                                            if (debit >= 0)
                                                                            {
                                                                                string convertcurrentAmount = Convert.ToString(debit);
                                                                                result_debit = CommainAmount.AmountwithComma(convertcurrentAmount);
                                                                            }
                                                                            else
                                                                            {
                                                                                int aa = Convert.ToString(debit).Length;
                                                                                string convertcurrentAmount = Convert.ToString(debit).Substring(1, aa - 1);
                                                                                result_debit = CommainAmount.AmountwithComma(convertcurrentAmount);
                                                                                result_debit = "-" + result_debit;
                                                                            }

                                                                            if (credit >= 0)
                                                                            {
                                                                                string convertcurrentAmount = Convert.ToString(credit);
                                                                                result_credit = CommainAmount.AmountwithComma(convertcurrentAmount);
                                                                            }
                                                                            else
                                                                            {
                                                                                int aa = Convert.ToString(credit).Length;
                                                                                string convertcurrentAmount = Convert.ToString(credit).Substring(1, aa - 1);
                                                                                result_credit = CommainAmount.AmountwithComma(convertcurrentAmount);
                                                                                result_credit = "-" + result_credit;
                                                                            }

                                                                            if (amount >= 0)
                                                                            {
                                                                                string convertcurrentAmount = Convert.ToString(amount);
                                                                                result_amount = CommainAmount.AmountwithComma(convertcurrentAmount);
                                                                            }
                                                                            else
                                                                            {
                                                                                int aa = Convert.ToString(amount).Length;
                                                                                string convertcurrentAmount = Convert.ToString(amount).Substring(1, aa - 1);
                                                                                result_amount = CommainAmount.AmountwithComma(convertcurrentAmount);
                                                                                result_amount = "-" + result_amount;
                                                                            }



                                                                            <tr data-toggle="collapse" data-target="#demo_@monthYearF" class="accordion-toggle">
                                                                                <th style="text-align: left; width:8%">@month</th>
                                                                                <th style="width: 12%"></th>
                                                                                <th style="width: 35%"></th>
                                                                                <th style="text-align: right; width:10%">@result_debit</th>
                                                                                <th style="text-align: right; width:17%">@result_credit</th>
                                                                                <th style="text-align: right; width:18%">@result_amount</th>
                                                                            </tr>
                                                                            totaldebit_Final = Convert.ToDecimal(totaldebit_Final + debit);
                                                                            totalcredit_Final = Convert.ToDecimal(totalcredit_Final + credit);
                                                                            //totalamount_Final = Convert.ToDecimal(totalamount_Final + amount);

                                                                            <tr>
                                                                                <td colspan="12" class="hiddenRow">
                                                                                    <div class="accordian-body collapse" id="demo_@monthYearF">
                                                                                        <table class="table table-striped" style="border: 1px solid rgba(46, 78, 194, 0.32); box-shadow: 0px 3px 9px #888888; margin-bottom: 6px;">
                                                                                            @*@foreach (DataRow row2 in ds.Rows)
                                                                                                {
                                                                                                    string monthYear2 = row2["YR"].ToString();
                                                                                                    if (monthYear2 == monthYearF)
                                                                                                    {
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td style="text-align: right; width: 25%">x</td>
                                                                                                                <td style="text-align: right; width: 25%">y</td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    }
                                                                                                }*@

                                                                                            @{
                                                                            decimal opBalance = 0, totalbalance = 0, totaldebit = 0, totalcredit = 0;
                                                                            string accountcd = debitCd.ToString();
                                                                            string substringCD = accountcd.Substring(3, 1);
                                                                            Int64 Accountcode = Convert.ToInt64(accountcd);

                                                                            string fromdate = Convert.ToString("01-" + month);
                                                                            DateTime fromdate_Parse = DateTime.Parse(fromdate);
                                                                            var foropeningBalance = from n in db.GlMasterDbSet
                                                                                                    where n.COMPID == compid && n.TRANSDT < fromdate_Parse && n.DEBITCD == Accountcode
                                                                                                    select new { n.DEBITAMT, n.CREDITAMT };
                                                                            if (substringCD == "1" || substringCD == "4")
                                                                            {
                                                                                decimal creditsum = 0, debitsum = 0;
                                                                                foreach (var x in foropeningBalance)
                                                                                {
                                                                                    creditsum = Convert.ToDecimal(creditsum + x.CREDITAMT);
                                                                                    debitsum = Convert.ToDecimal(debitsum + x.DEBITAMT);
                                                                                }
                                                                                opBalance = debitsum - creditsum;

                                                                            }
                                                                            else
                                                                            {
                                                                                decimal creditsum = 0, debitsum = 0;
                                                                                foreach (var x in foropeningBalance)
                                                                                {
                                                                                    creditsum = Convert.ToDecimal(creditsum + x.CREDITAMT);
                                                                                    debitsum = Convert.ToDecimal(debitsum + x.DEBITAMT);
                                                                                }
                                                                                opBalance = creditsum - debitsum;
                                                                            }
                                                                            Int64 i = 0;

                                                                            string convertopamount = Convert.ToString(opBalance);
                                                                            string Opening = CommainAmount.AmountwithComma(convertopamount);
                                                                            <tbody>
                                                                                <tr style="background-color: #00689b;">
                                                                                    <td style="color: white; text-align: left; width: 8%">Date</td>
                                                                                    <td style="color: white; text-align: center; width: 12%">Voucher No</td>
                                                                                    <td style="color: white; text-align: left; width: 35%">Particulars</td>
                                                                                    <td style="color: white; text-align: right; width: 10%">Debit(Tk.)</td>
                                                                                    <td style="color: white; text-align: right; width: 17%">Credit(Tk.)</td>
                                                                                    <td style="color: white; text-align: right; width: 18%">Balance(Tk.)</td>
                                                                                </tr>
                                                                            </tbody>

                                                                                                <tbody>
                                                                                                    <tr style="background-color: rgba(177, 177, 177, 0.43);">
                                                                                                        <td style="text-align: right; width: 8%"></td>
                                                                                                        <td style="text-align: right; width: 12%"></td>
                                                                                                        <td style="text-align: left; width: 35%"></td>
                                                                                                        <td style="text-align: right; width: 10%"></td>
                                                                                                        <td style="text-align: right; width: 17%; color: #AB0707">Opening Balance :</td>
                                                                                                        @if (Opening == "")
                                                                                                        {
                                                                                                            <td style="text-align: right; width: 18%; color: #AB0707">0.00</td>
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <td style="text-align: right; width: 18%; color: #AB0707">@Opening</td>
                                                                                                        }
                                                                                                    </tr>
                                                                                                </tbody>

                                                                                                        string transno = "";
                                                                                                        var data_1 = (from n in db.GlMasterDbSet where n.COMPID == compid && n.TRANSMY == month && n.DEBITCD == Accountcode select n).OrderBy(x => x.TRANSDT).ToList();
                                                                                                        totaldebit = opBalance;
                                                                                                        string openingBlanceShow = "";

                                                                                                        foreach (var item in data_1)
                                                                                                        {

                                                                                                            opBalance = Convert.ToDecimal(opBalance + item.DEBITAMT - item.CREDITAMT);
                                                                                                            string convertBalance = Convert.ToString(opBalance);
                                                                                                            openingBlanceShow = CommainAmount.AmountwithComma(convertBalance);

                                                                                                            totaldebit = Convert.ToDecimal(totaldebit + item.DEBITAMT);
                                                                                                            totalcredit = Convert.ToDecimal(totalcredit + item.CREDITAMT);


                                                                                                            string xx = Convert.ToString(item.TRANSDT);
                                                                                                            DateTime xxdate = DateTime.Parse(xx);
                                                                                                            string TransDate = xxdate.ToString("dd-MMM-yy");

                                                                                                            var forHeaddesc = from n in db.GlAcchartDbSet where n.COMPID == compid && n.ACCOUNTCD == item.CREDITCD select new { n.ACCOUNTNM };
                                                                                                            string creditaccount = "";
                                                                                                            foreach (var x in forHeaddesc)
                                                                                                            {
                                                                                                                creditaccount = x.ACCOUNTNM;
                                                                                                            }
                                                                                                            //if (i == 0)
                                                                                                            //{
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td style="text-align: left; width: 8%;font-size: small">@TransDate</td>
                                                                                                                    @{
                                                                                                            if (item.TRANSTP == "MREC")
                                                                                                            {
                                                                                                                transno = Convert.ToString(item.TRANSNO);
                                                                                                                transno = "RV-" + transno;
                                                                                                            }
                                                                                                            else if (item.TRANSTP == "MPAY")
                                                                                                            {
                                                                                                                transno = Convert.ToString(item.TRANSNO);
                                                                                                                transno = "PV-" + transno;
                                                                                                            }
                                                                                                            else if (item.TRANSTP == "JOUR")
                                                                                                            {
                                                                                                                transno = Convert.ToString(item.TRANSNO);
                                                                                                                transno = "JV-" + transno;
                                                                                                            }
                                                                                                            else if (item.TRANSTP == "CONT")
                                                                                                            {
                                                                                                                transno = Convert.ToString(item.TRANSNO);
                                                                                                                transno = "CV-" + transno;
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                transno = Convert.ToString(item.TRANSNO);
                                                                                                            }
                                                                                                                    }
                                                                                                                    <td style="text-align: right; width: 12%; font-size: small">@transno</td>
                                                                                                                    @if (creditaccount != "")
                                                                                                                    {

                                                                                                                        var dd = item.REMARKS;
                                                                                                                        var chequeno = item.CHEQUENO;


                                                                                                                        if (dd != null && chequeno != null)
                                                                                                                        {
                                                                                                                            var chequedate = item.CHEQUEDT;
                                                                                                                            string chquedt = "";
                                                                                                                            if (chequedate != null)
                                                                                                                            {
                                                                                                                                string d3 = Convert.ToString(chequedate);
                                                                                                                                DateTime fdate3 = DateTime.Parse(d3);
                                                                                                                                chquedt = fdate3.ToString("dd-MMM-yyyy");
                                                                                                                            }
                                                                                                                            <td style="text-align: left; width: 35%; font-size: small" data-toggle="tooltip" title="@dd|@chequeno|@chquedt">@creditaccount</td>
                                                                                                                        }
                                                                                                                        else if (dd == null && chequeno != null)
                                                                                                                        {
                                                                                                                            var chequedate = item.CHEQUEDT;
                                                                                                                            string chquedt = "";
                                                                                                                            if (chequedate != null)
                                                                                                                            {
                                                                                                                                string d3 = Convert.ToString(chequedate);
                                                                                                                                DateTime fdate3 = DateTime.Parse(d3);
                                                                                                                                chquedt = fdate3.ToString("dd-MMM-yyyy");
                                                                                                                            }
                                                                                                                            <td style="text-align: left; width: 35%; font-size: small" data-toggle="tooltip" title="@chequeno|@chquedt">@creditaccount</td>
                                                                                                                        }
                                                                                                                        else if (dd == null && chequeno == null)
                                                                                                                        {
                                                                                                                            <td style="text-align: left; width: 35%; font-size: small">@creditaccount</td>
                                                                                                                        }
                                                                                                                        else if (dd != null && chequeno == null)
                                                                                                                        {
                                                                                                                            <td style="text-align: left; width: 35%; font-size: small" data-toggle="tooltip" title="@dd">@creditaccount</td>
                                                                                                                        }

                                                                                                                    }
                                                                                                                    else
                                                                                                                    {
                                                                                                                        <td style="text-align: left; width: 35%; font-size: small; ">Opening Balance</td>
                                                                                                                    }

                                                                                                                    @{
                                                                                                                    Int64 dcheck = 0, ccheck = 0;
                                                                                                                    string debitamt = "", creditamt = "";
                                                                                                                    if (item.DEBITAMT < 0)
                                                                                                                    {
                                                                                                                        item.DEBITAMT = item.DEBITAMT * (-1);
                                                                                                                        dcheck = 1;
                                                                                                                        string convertdebit = Convert.ToString(item.DEBITAMT);
                                                                                                                        debitamt = CommainAmount.AmountwithComma(convertdebit);
                                                                                                                    }
                                                                                                                    else
                                                                                                                    {
                                                                                                                        dcheck = 0;
                                                                                                                        string convertdebit = Convert.ToString(item.DEBITAMT);
                                                                                                                        debitamt = CommainAmount.AmountwithComma(convertdebit);
                                                                                                                    }

                                                                                                                    if (item.CREDITAMT < 0)
                                                                                                                    {
                                                                                                                        item.CREDITAMT = item.CREDITAMT * (-1);
                                                                                                                        ccheck = 1;
                                                                                                                        string convertcredit = Convert.ToString(item.CREDITAMT);
                                                                                                                        creditamt = CommainAmount.AmountwithComma(convertcredit);
                                                                                                                    }
                                                                                                                    else
                                                                                                                    {
                                                                                                                        ccheck = 0;
                                                                                                                        string convertcredit = Convert.ToString(item.CREDITAMT);
                                                                                                                        creditamt = CommainAmount.AmountwithComma(convertcredit);
                                                                                                                    }

                                                                                                                    }

                                                                                                                    <td style="text-align: right; width: 10%; font-size: small">@debitamt</td>
                                                                                                                    <td style="text-align: right; width: 17%; font-size: small">@creditamt</td>
                                                                                                                    <td style="text-align: right; width: 18%; font-size: small">@openingBlanceShow</td>
                                                                                                                </tr>
                                                                                                            </tbody>

                                                                                                        }

                                                                                                        totalbalance = totaldebit - totalcredit;
                                                                                                        Int64 st = 0;
                                                                                                        if (totalbalance < 0)
                                                                                                        {
                                                                                                            totalbalance = totalbalance * (-1);
                                                                                                            st = 1;
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            st = 0;
                                                                                                        }

                                                                                                        string convertamount = Convert.ToString(totalbalance);
                                                                                                        string tBalance = CommainAmount.AmountwithComma(convertamount);


                                                                                                        string convertamount1 = Convert.ToString(totaldebit);
                                                                                                        string tDebit = CommainAmount.AmountwithComma(convertamount1);

                                                                                                        string convertamount2 = Convert.ToString(totalcredit);
                                                                                                        string tCredit = CommainAmount.AmountwithComma(convertamount2);

                                                                                                        <tbody>
                                                                                                            <tr style="background-color: rgba(177, 177, 177, 0.43); ">
                                                                                                                <td style="text-align: right; width: 8%; font-weight: bold"></td>
                                                                                                                <td style="text-align: right; width: 12%; font-weight: bold"></td>
                                                                                                                <td style="text-align: right; width: 35%; font-weight: bold">Total :</td>
                                                                                                                <td style="text-align: right; width: 10%; font-weight: bold">@tDebit</td>
                                                                                                                <td style="text-align: right; width: 17%; font-weight: bold">@tCredit</td>
                                                                                                                @if (st == 0)
                                                                                                                {
                                                                                                                    <td style="text-align: right; width: 18%; font-weight: bold">@tBalance</td>
                                                                                                                }
                                                                                                                else
                                                                                                                {
                                                                                                                    <td style="text-align: right; width: 18%; font-weight: bold">-@tBalance</td>
                                                                                                                }
                                                                                                            </tr>
                                                                                                        </tbody>


                                                                                            }
                                                                                        </table>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }

                                                                }
                                                                conn.Close();
                                                            }
                                                        }
                                                        connnectionF.Close();
                                                    }

                                                    <tr>


                                                        @{

                                                            string result_TotalDebit = "", result_TotalCredit = "", result_TotalAmount = "";
                                                            if (totaldebit_Final >= 0)
                                                            {
                                                                string convertcurrentAmount = Convert.ToString(totaldebit_Final);
                                                                result_TotalDebit = CommainAmount.AmountwithComma(convertcurrentAmount);
                                                            }
                                                            else
                                                            {
                                                                int aa = Convert.ToString(totaldebit_Final).Length;
                                                                string convertcurrentAmount = Convert.ToString(totaldebit_Final).Substring(1, aa - 1);
                                                                result_TotalDebit = CommainAmount.AmountwithComma(convertcurrentAmount);
                                                                result_TotalDebit = "-" + result_TotalDebit;
                                                            }

                                                            if (totalcredit_Final >= 0)
                                                            {
                                                                string convertcurrentAmount = Convert.ToString(totalcredit_Final);
                                                                result_TotalCredit = CommainAmount.AmountwithComma(convertcurrentAmount);
                                                            }
                                                            else
                                                            {
                                                                int aa = Convert.ToString(totalcredit_Final).Length;
                                                                string convertcurrentAmount = Convert.ToString(totalcredit_Final).Substring(1, aa - 1);
                                                                result_TotalCredit = CommainAmount.AmountwithComma(convertcurrentAmount);
                                                                result_TotalCredit = "-" + result_TotalCredit;
                                                            }

                                                            totalamount_Final = totaldebit_Final - totalcredit_Final;
                                                            if (totalamount_Final >= 0)
                                                            {
                                                                string convertcurrentAmount = Convert.ToString(totalamount_Final);
                                                                result_TotalAmount = CommainAmount.AmountwithComma(convertcurrentAmount);
                                                            }
                                                            else
                                                            {
                                                                int aa = Convert.ToString(totalamount_Final).Length;
                                                                string convertcurrentAmount = Convert.ToString(totalamount_Final).Substring(1, aa - 1);
                                                                result_TotalAmount = CommainAmount.AmountwithComma(convertcurrentAmount);
                                                                result_TotalAmount = "-" + result_TotalAmount;
                                                            }

                                                        }
                                                        <th style="width:8%"></th>
                                                        <th style="width: 12%"></th>
                                                        <th style="text-align: right; width: 35%">Total :</th>
                                                        <th style="text-align: right; width:10%">@result_TotalDebit</th>
                                                        <th style="text-align: right; width:17%">@result_TotalCredit</th>
                                                        <th style="text-align: right; width:18%">@result_TotalAmount</th>
                                                    </tr>
                                                </tbody>

                                            </table>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
