@model AS_Therapy_GL.Models.ASL_MENUMST

@{
    ViewBag.Title = "Delete";

    if (HttpContext.Current.Session["LoggedUserType"] == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }
    var LoggedUserTp = HttpContext.Current.Session["LoggedUserType"].ToString();
    var LoggedUserStatus = HttpContext.Current.Session["LoggedUserStatus"].ToString();

    if (LoggedUserTp == "AslSuperadmin" && LoggedUserStatus == "A")
    {

    }
    else
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.MODULEID)

  
    <div id="contentHeaderBox">
        <h1>Delete Module Information</h1>
    </div>
    <br />
   
    <div class="col-md-12">
      <div class="panel panel-primary" style="margin-bottom: 0px">
            <div class="panel-heading">Are you sure you want to delete this?</div>
        </div>
        <br />
       

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.MODULENM, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.MODULENM, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly", autofocus = true })
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.USERPC, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.USERPC, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.INSUSERID, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.INSUSERID, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.INSTIME, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.INSTIME, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.INSIPNO, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.INSIPNO, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.UPDUSERID, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.UPDUSERID, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.UPDTIME, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.UPDTIME, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.UPDIPNO, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.UPDIPNO, htmlAttributes: new { @class = "form-control", data_val = false, @readonly = "readonly" })
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-8">
                    <input type="submit" class="btn btn-info" value="Delete" />
                </div>

            </div>

        </div>
    </div>

    @*<div class="col-md-2"></div>*@
  

}