@using System.Web.Services.Discovery
@using AS_Therapy_GL.Models
@model AS_Therapy_GL.Models.PageModel


@{
    ViewBag.Title = "Index";
    //if (System.Web.HttpContext.Current.Request.Cookies["CI"] == null)
    //{
    //    Response.Redirect(Url.Action("Index", "Login"));
    //}

    //var LoggedUserTp = System.Web.HttpContext.Current.Request.Cookies["UT"].Value;
    //var LoggedCompId = System.Web.HttpContext.Current.Request.Cookies["CI"].Value;
    //var LoggedUserStatus = System.Web.HttpContext.Current.Request.Cookies["US"].Value;
    //var LoggedCompanyStatus = System.Web.HttpContext.Current.Request.Cookies["CS"].Value;
    if (HttpContext.Current.Session["LoggedUserType"] == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }
    var LoggedUserTp = HttpContext.Current.Session["LoggedUserType"].ToString();
    var LoggedCompId = HttpContext.Current.Session["loggedCompID"].ToString();
    var LoggedUserStatus = HttpContext.Current.Session["LoggedUserStatus"].ToString();
    var LoggedCompanyStatus = HttpContext.Current.Session["LoggedCompanyStatus"].ToString();

    if ((LoggedUserTp == "CompanyAdmin" || LoggedUserTp == "UserAdmin" || LoggedUserTp == "User") && LoggedUserStatus == "A" && LoggedCompanyStatus == "A")
    {

    }
    else
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }

    Therapy_GL_DbContext db = new Therapy_GL_DbContext();
    Int64 compid = Convert.ToInt64(HttpContext.Current.Session["loggedCompID"].ToString());
    Int64 loggedUserID = Convert.ToInt64(HttpContext.Current.Session["loggedUserID"].ToString());
    var permission_Check = from m in db.AslRoleDbSet where m.COMPID == compid && m.USERID == loggedUserID && m.CONTROLLERNAME == "SALE" select m;
    var createStatus = "";
    var updateStatus = "";
    foreach (var check in permission_Check)
    {
        createStatus = check.INSERTR;
        updateStatus = check.UPDATER;
    }

    if (createStatus == "A")
    {

    }
    else if (updateStatus == "A")
    {
        Response.Redirect("~/Sale/EditOrder");
    }


    if (createStatus == "I" && updateStatus == "I")
    {
        Response.Redirect("~/GraphView/Index");
    }






    List<SelectListItem> itemType = new List<SelectListItem>();
    itemType.Add(new SelectListItem { Text = "Therapy", Value = "THERAPY" });
    itemType.Add(new SelectListItem { Text = "Accessories", Value = "ACCESSORIES" });

    Int64 transno = 0;
    decimal TotalReferAmount = 0;
    decimal totAmt = 0;
    int i = 1;

    TimeZoneInfo timeZoneInfo;
    timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById("Central Asia Standard Time");
    DateTime currentDateTime = TimeZoneInfo.ConvertTime(DateTime.Now, timeZoneInfo);




    var patientidm = "";
    var patientName = "";
    var refpcnt = "";
    var refernm = "";

    if (TempData["Patient_To_Sale"] != null)
    {
        PST_PATIENT pstPatient = new PST_PATIENT();
        pstPatient = (PST_PATIENT)TempData["Patient_To_Sale"];
        patientidm = Convert.ToString(pstPatient.PATIENTIDM);
        patientName = Convert.ToString(pstPatient.PATIENTNM);

        Int64 referID = Convert.ToInt64(pstPatient.REFERID);
        var find_Refername = db.PST_ReferDbSet.Where(n => n.REFERID == referID && n.COMPID == compid).Select(n => new { n.REFERNM, n.REFPCNT });
        foreach (var m in find_Refername)
        {
            refpcnt = Convert.ToString(m.REFPCNT);
            refernm = Convert.ToString(m.REFERNM);
        }
    }
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    @Html.HiddenFor(model => model.pst_Trans.COMPID, new { id = "txtCompId", @Value = LoggedCompId })
    @Html.HiddenFor(model => model.pst_Trans.ITEMSL, new { id = "txtItemSl" })
    @Html.HiddenFor(model => model.pst_Trans.ITEMID, new { id = "txtItemId" })
    @Html.HiddenFor(model => model.pst_Trans.POSNID, new { id = "txtPosNid" })

    <div id="contentHeaderBox">
        <h1 style="padding-left: 16px;">Billing - (Create)</h1>
        <div class="btn-group pull-right" id="editOption">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">
                <i class="fa fa-cog"></i>
            </button>
            <ul class="dropdown-menu pull-right" style="" role="menu">
                @if (createStatus == "A" && updateStatus == "A")
                {
                    <li><a href="@Url.Action("Index", "Sale")"><i class="fa fa-plus"></i> Create</a></li>
                    <li><a href="@Url.Action("EditOrder", "Sale")"><i class="fa fa-edit"></i> Update</a></li>
                }
                else if (createStatus == "A")
                {
                    <li><a href="@Url.Action("Index", "Sale")"><i class="fa fa-plus"></i> Create</a></li>
                }
                else if (updateStatus == "A")
                {
                    <li><a href="@Url.Action("EditOrder", "Sale")"><i class="fa fa-edit"></i> Update</a></li>
                }
            </ul>
        </div>

    </div>

    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-8">
                @if (TempData["UpdatePermission"] != null)
                {
                    <h4 style="color: #C03523">@TempData["UpdatePermission"]</h4>
                }
                <div class="row">

                    <div class="col-md-3">
                        <span> <b>  Date</b></span>
                        @if (TempData["transdate"] != null)
                        {
                            string date = TempData["transdate"].ToString();
                            DateTime MyDateTime = DateTime.Parse(date);
                            string Date = MyDateTime.ToString("dd-MMM-yyyy");
                            @Html.TextBoxFor(model => model.pst_Trans.TRANSDT, new { @class = "form-control input-sm", @readonly = "readonly", @Value = Date })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.pst_Trans.TRANSDT, new { @class = "form-control input-sm", @id = "txtdate", @readonly = "readonly", @Value = currentDateTime.ToString("dd-MMM-yyyy") })
                            if (ViewBag.errorDate != null)
                            {
                                <h6 style="color: #C03523">@ViewBag.errorDate</h6>
                            }
                        }
                    </div>
                    <div class="col-md-3">
                        <span> <b>  Year</b></span>
                        @if (TempData["transYear"] != null)
                        {
                            string year = TempData["transYear"].ToString();
                            @Html.TextBoxFor(model => model.pst_Trans.TRANSYY, new { @class = "form-control input-sm", @readonly = "readonly", @Value = year })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.pst_Trans.TRANSYY, new { @class = "form-control input-sm", @id = "txtYear", @readonly = "readonly", @Value = currentDateTime.ToString("yyyy") })
                        }
                    </div>

                    <div class="col-md-3">
                        <span> <b>  Memo No</b></span>
                        @Html.TextBoxFor(model => model.pst_Trans.TRANSNO, new { id = "txtTransNo", @class = "form-control input-sm", @readonly = "readonly" })
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-3">
                        <span>@Html.Label("name", "Patient ID", htmlAttributes: new { @class = "control-label" })</span>
                        @if (TempData["PATIENTID"] != null)
                        {
                            @Html.HiddenFor(model => model.Pst_Patient.PATIENTID, new { @class = "form-control input-sm" })
                            Int64 PATIENTID = Convert.ToInt64(TempData["PATIENTID"]);
                            @Html.HiddenFor(model => model.pst_Trans.PATIENTID, new { @class = "form-control input-sm", @Value = PATIENTID })

                            var PatientName = (from n in db.PST_PatientDbSet where n.COMPID == compid && n.PATIENTID == PATIENTID select n).ToList();
                            string patientIDM = "";
                            foreach (var Name in PatientName)
                            {
                                patientIDM = Convert.ToString(Name.PATIENTIDM);
                            }
                            @Html.TextBoxFor(model => model.Pst_Patient.PATIENTIDM, new { @class = "form-control input-sm", @readonly = "readonly", @Value = patientIDM })

                        }
                        else if (patientidm != "")
                        {
                            @Html.TextBoxFor(model => model.Pst_Patient.PATIENTIDM, new { @class = "form-control input-sm", id = "txt_PATIENTIDM", @Value = patientidm, @readonly = "readonly" })

                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.Pst_Patient.PATIENTIDM, new { @class = "form-control input-sm", id = "txt_PATIENTIDM", autofocus = true })
                            if (ViewBag.errorPatient != null)
                            {
                                <h6 style="color: #C03523">@ViewBag.errorPatient</h6>
                            }
                        }
                    </div>

                    <div class="col-md-6">
                        <span> @Html.Label("name", "Patient Name", htmlAttributes: new { @class = "control-label" })</span>
                        @if (patientName != "")
                        {
                            @Html.TextBoxFor(model => model.Pst_Patient.PATIENTNM, new { id = "txt_PATIENTNM", @readonly = "readonly", @class = "form-control input-sm", @Value = patientName })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.Pst_Patient.PATIENTNM, new { id = "txt_PATIENTNM", @readonly = "readonly", @class = "form-control input-sm" })
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <span> @Html.Label("name", "Item Type", htmlAttributes: new { @class = "control-label" })</span>
                        @Html.DropDownListFor(model => model.pst_Trans.ITEMTP, itemType, new { id = "txt_itemType", @class = "form-control input-sm", autofocus = true })
                    </div>
                    <div class="col-md-6">
                        <span> @Html.Label("name", "Referer Name", htmlAttributes: new { @class = "control-label" })</span>
                        @if (refernm != "")
                        {
                            @Html.TextBoxFor(model => model.Pst_Refer.REFERNM, new { id = "txt_REFERNM", @readonly = "readonly", @class = "form-control input-sm", @Value = refernm })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.Pst_Refer.REFERNM, new { id = "txt_REFERNM", @readonly = "readonly", @class = "form-control input-sm" })
                        }
                    </div>
                    <div class="col-md-3">
                        <span> @Html.Label("name", "Refer(%)", htmlAttributes: new { @class = "control-label" })</span>
                        @if (refpcnt != "")
                        {
                            @Html.TextBoxFor(model => model.pst_Trans.REFPCNT, new { id = "txt_REFPCNT", @readonly = "readonly", @class = "form-control input-sm", @Value = refpcnt })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.pst_Trans.REFPCNT, new { id = "txt_REFPCNT", @readonly = "readonly", @class = "form-control input-sm" })
                        }
                    </div>
                </div>



                <br />
                <div class="row">
                    @Html.HiddenFor(model => model.pst_Trans.PST_TRANS_ID)
                    <div class="col-md-6">
                        <span> @Html.Label("name", "Item Name", htmlAttributes: new { @class = "control-label" })</span>
                        @Html.TextBoxFor(model => model.PST_Item.ITEMNM, new { @class = "form-control input-sm", id = "txtItemNm" })
                        @if (ViewBag.errorItemid != null)
                        {
                            <h6 style="color: #C03523">@ViewBag.errorItemid</h6>
                        }
                    </div>
                    <div class="col-md-6" id="patient">
                        @if (TempData["Hide_positionName"] != null)
                        {
                        }
                        else
                        {
                            <span> @Html.Label("name", "Position Name", htmlAttributes: new { @class = "control-label", id = "positionName_Label" })</span>
                            if (TempData["positionName"] != null)
                            {
                                @Html.TextBoxFor(model => model.Empty, new { @class = "form-control input-sm", id = "txtPositionName", @Value = TempData["positionName"].ToString() })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.Empty, new { @class = "form-control input-sm", id = "txtPositionName" })
                                if (ViewBag.errorPositionName != null)
                                {
                                    <h6 style="color: #C03523">@ViewBag.errorPositionName</h6>
                                }
                            }
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <span>  @Html.Label("name", "Quantity", htmlAttributes: new { @class = "control-label" })</span>
                        @Html.TextBoxFor(model => model.pst_Trans.QTY, new { @class = "form-control input-sm", id = "txtQty" })
                        @if (ViewBag.errorQty != null)
                        {
                            <h6 style="color: #C03523">@ViewBag.errorQty</h6>
                        }
                    </div>

                    @Html.TextBoxFor(model => model.pst_Trans.INSLTUDE, new { id = "latlon", style = "display: none;" })
                    <input id="lat" type="hidden" />
                    <input id="lon" type="hidden" />

                    <div class="col-md-3">
                        <span>  @Html.Label("name", "Rate", htmlAttributes: new { @class = "control-label" })</span>
                        @Html.TextBoxFor(model => model.pst_Trans.RATE, new { @class = "form-control input-sm", id = "txtRate" })
                    </div>
                    <div class="col-md-3">
                        <span>  @Html.Label("name", "Amount", htmlAttributes: new { @class = "control-label" })</span>
                        @Html.TextBoxFor(model => model.pst_Trans.AMOUNT, new { @class = "form-control input-sm", id = "txtAmt", @readonly = "readonly" })
                    </div>

                    <div class="col-md-1" style="text-align: right">
                        <br />
                        <input type="submit" class="btn btn-info" value="Add" id="btnAdd" name="command" style="padding-left: 7px;padding-right: 7px;margin-left: -22px" />
                    </div>

                </div>

                @if (ViewBag.InsertPermission != null)
                {
                    <div class="row">
                        <div class="col-md-6"> </div>
                        <div class="col-md-6"> <h5 style="color: #C03523; text-align: right">@ViewBag.InsertPermission</h5></div>
                    </div>
                }

                <br />
                <br />


                @if (TempData["transno"] != null && TempData["transdate"] != null && TempData["transYear"] != null)
                {
                    string x = Convert.ToString(TempData["transdate"]);
                    DateTime date = DateTime.Parse(x);
                    transno = Convert.ToInt64(TempData["transno"]);

                    Int64 transYear = Convert.ToInt64(TempData["transYear"]);
                    var res = db.PST_ItemDbSet.Join(db.PST_TransDbSet, e => e.ITEMID, b => b.ITEMID,
                        (e, b) => new
                        {
                            itemname = e.ITEMNM,
                            PST_TRANSid = b.PST_TRANS_ID,
                            b.PATIENTID,
                            ITEMSL = b.ITEMSL,
                            ITEMID = b.ITEMID,
                            b.POSNID,
                            QTY = b.QTY,
                            RATE = b.RATE,
                            AMOUNT = b.AMOUNT,
                            REFPCNT = b.REFPCNT,
                            b.REFAMT,
                            TRANSNO = b.TRANSNO,
                            TRANSDT = b.TRANSDT,
                            b.TRANSYY,
                            b.TRANSTP,
                            COMPID = b.COMPID
                        }).Where(eAndb => eAndb.TRANSNO == transno && eAndb.TRANSDT == date && eAndb.TRANSYY == transYear && eAndb.TRANSTP == "SALE" && eAndb.COMPID == compid).OrderBy(e => e.ITEMSL);




                    var getPsitionName = from m in db.PST_ItemDbSet
                                         where m.COMPID == compid
                                         select new { m.ITEMID, m.ITEMNM };

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    <h6>SL</h6>
                                </td>
                                <td>
                                    <h6>Item Name</h6>
                                </td>
                                <td>
                                    <h6>Position</h6>
                                </td>
                                <td>
                                    <h6>Quantity</h6>
                                </td>
                                <td>
                                    <h6>Amount</h6>
                                </td>

                                <td></td>
                                <td></td>
                            </tr>
                            @foreach (var item in res)
                            {
                                <tr>
                                    @Html.HiddenFor(model => item.PST_TRANSid, new { id = "txtID", @readonly = "readonly" })
                                    @Html.HiddenFor(model => item.TRANSDT, new { id = "txtID", @readonly = "readonly" })
                                    @Html.HiddenFor(model => item.TRANSYY, new { id = "txtID", @readonly = "readonly" })
                                    @Html.HiddenFor(model => item.ITEMID, new { id = "txtItemId", @readonly = "readonly" })
                                    @Html.HiddenFor(model => item.RATE, new { id = "txtRate", @readonly = "readonly" })
                                    @Html.HiddenFor(model => item.PATIENTID, new { id = "txtPATIENTID", @readonly = "readonly" })
                                    @Html.HiddenFor(model => item.REFAMT, new { id = "txtREFAMT", @readonly = "readonly" })
                                    <td>
                                        @Html.TextBoxFor(model => item.ITEMSL, new { style = "width:2em;", id = "txtItemSl", @readonly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => item.itemname, new { style = "width:12em;", id = "txtItemNm", @readonly = "readonly" })
                                    </td>
                                    <td>
                                        @foreach (var posName in getPsitionName)
                                        {
                                            if (posName.ITEMID == item.POSNID)
                                            {
                                                @Html.TextBoxFor(model => posName.ITEMNM, new { style = "width:12em;", id = "txtItemNm", @readonly = "readonly" })
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => item.QTY, new { style = "width:4em; text-align:right", id = "txtQty", @readonly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => item.AMOUNT, new { style = "width: 7em; text-align:right", id = "txtAmt", @readonly = "readonly" })
                                    </td>
                                    <td>
                                        <span>
                                            <a href="@Url.Action("OrderDelete", new { tid = item.PST_TRANSid, orderNo = item.TRANSNO,Date = item.TRANSDT,Year=item.TRANSYY, itemsl = item.ITEMSL, compid = item.COMPID,patientid= item.PATIENTID, item })" class="btn btn-sm btn-danger">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            <a href="@Url.Action("OrderUpdate", new { tid = item.PST_TRANSid, orderNo = item.TRANSNO, Date = item.TRANSDT, Year = item.TRANSYY, itemsl = item.ITEMSL, itemId = item.ITEMID, item })" class="btn btn-sm btn-info">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                                        //totGross = Convert.ToDecimal(totGross + item.GROSSAMT);
                                        totAmt = Convert.ToDecimal(totAmt + item.AMOUNT);
                                        TotalReferAmount = Convert.ToDecimal(TotalReferAmount + item.REFAMT);
                                        i = i + 1;
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total</td>
                                <td>
                                    @Html.TextBoxFor(model => model.Pst_Transmst.TOTAMT, new { style = "width:7em; text-align:right", id = "txtTotGrossAmt", @readonly = "readonly", @Value = totAmt })
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>

                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-striped"></table>
                    </div>
                }
            </div>


            <div class="col-md-4">
                <div class="panel panel-primary" style="margin-bottom: 0px">
                    <div class="panel-heading">Payment Information</div>
                </div>

                <div class="well">
                    <div class="table-responsive">
                        @if (ViewBag.addItemList != null)
                        {<table>
                            <tr>
                                <td>
                                    <h6 style="color: #C03523">@ViewBag.addItemList</h6>
                                </td>
                            </tr>
                        </table>
                        }
                        <table class="table table-hover">
                            <tr>
                                <td>
                                    Total Amount
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Pst_Transmst.TOTAMT, new { @style = "width:10em; text-align:right", id = "txtMstTotAmt", @readonly = "readonly", @Value = totAmt })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Discount
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Pst_Transmst.DISCOUNT, new { @style = "width:10em; text-align:right", id = "txtMstDiscAmt", @Value = 0 })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Net Amount
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Pst_Transmst.TOTNET, new { @style = "width:10em; text-align:right", id = "txtMstNetAmount", @readonly = "readonly", @Value = totAmt })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cash Amount
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Pst_Transmst.AMTCASH, new { @style = "width:10em; text-align:right", id = "txtMstCashAmount", @Value = totAmt })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Credit Amount
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Pst_Transmst.AMTCREDIT, new { @style = "width:10em; text-align:right", id = "txtMstCreditAmount", @readonly = "readonly", @Value = 0 })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Refer Amount
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Pst_Transmst.TOTREF, new { @style = "width:10em; text-align:right", @readonly = "readonly", id = "txtMstReferAmount", @Value = TotalReferAmount })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Remarks
                                </td>
                                <td>
                                    @Html.TextAreaFor(model => model.Pst_Transmst.REMARKS, new { @style = "width:10em; text-align:right", id = "txtMstRemarks" })
                                </td>
                            </tr>
                        </table>

                        @*<table>
                                <tr class="pull-right text-right">
                                    <td style="width: 55%;"></td>
                                    <td>
                                        <input type="submit" class="btn btn-danger" value="Save" id="btnComp" name="command" />
                                        <input type="submit" id="A4_ButtonId" class="btn btn-success" name="command" value="A4" data-toggle="tooltip" data-placement="bottom" title="Paper size A4" formtarget="_blank" />
                                    </td>
                                </tr>
                            </table>*@
                        <div class="pull-right text-right">
                            <input type="submit" class="btn btn-danger" value="Save" id="btnComp" name="command" />
                            <input type="submit" id="A4_ButtonId" class="btn btn-success" name="command" value="A4" data-toggle="tooltip" data-placement="bottom" title="Paper size A4" formtarget="_blank" />
                        </div>

                    </div>
                </div>

                @Html.TextBoxFor(model => model.Pst_Transmst.INSLTUDE, new { id = "latlon_Pst_Transmst", style = "display: none;" })
                <input id="lat" type="hidden" />
                <input id="lon" type="hidden" />

            </div>
        </div>
    </div>


                        //Latitute & longitude
                        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

                        <script language="javascript" type="text/javascript">
                            $(function () {
                                navigator.geolocation.getCurrentPosition(showPosition);
                                //navigator.geolocation.getCurrentPosition(showPosition, positionError);

                                function showPosition(position) {
                                    var coordinates = position.coords;
                                    $("#lat").val(coordinates.latitude);
                                    $("#lon").val(coordinates.longitude);

                                    $("#latlon").val(
                                        $("#lat").val() + "," + $("#lon").val()
                                    );
                                    $("#latlon_Pst_Transmst").val(
                                      $("#lat").val() + "," + $("#lon").val()
                                  );
                                }
                            });

                            $(function () {
                                $('[data-toggle="tooltip"]').tooltip();
                            });
                        </script>

                        <script type="text/javascript">

                            $(document).ready(function () {
                                $("#menuCollapse").click();
                                //txt_REFPCNT txt_PATIENTNM txt_REFERNM
                                //Patient IDM
                                $('#txt_PATIENTIDM').autocomplete({

                                    source: '@Url.Action("TagSearch_PST_Patient", "Sale")',
                                    change: $('#txt_PATIENTIDM').keyup(function (e) {
                                        $('#txt_PATIENTIDM').keyup(_.debounce(txtChanged_PatientIDM(e.keyCode), 1000));
                                    }),
                                    select: function (event, ui) {
                                        var changedtxt = ui.item.value;

                                        var txt_PATIENTNM = document.getElementById('txt_PATIENTNM');
                                        var txt_REFERNM = document.getElementById('txt_REFERNM');
                                        var txt_REFPCNT = document.getElementById('txt_REFPCNT');

                                        $.getJSON(
                                            "/Sale/GetPatientInformation", { "Changedtxt": changedtxt },
                                            function (myData) {
                                                txt_PATIENTNM.value = myData.PATIENTNM;
                                                txt_REFERNM.value = myData.REFERNM;
                                                txt_REFPCNT.value = myData.REFPCNT;
                                                document.getElementById("txt_itemType").focus();
                                            });


                                        $("#txt_PATIENTNM").val("");
                                        $("#txt_REFERNM").val("");
                                        $("#txt_REFPCNT").val("");
                                    },

                                });



                                function txtChanged_PatientIDM(value) {
                                    if (value != 8) {
                                        var changedText = $("#txt_PATIENTIDM").val();
                                        var txtBox = document.getElementById('txt_PATIENTIDM');

                                        if (changedText != "") {
                                            $.getJSON(
                                                '/Sale/keyword', { "ChangedText": changedText },
                                                function (result) {
                                                    txtBox.value = result.PATIENTIDM;
                                                    //document.getElementById("txt_PATIENTIDM").focus();
                                                });
                                        }
                                        //document.getElementById("txt_itemType").focus();
                                    }
                                };







                                $('#txtItemNm').autocomplete(
                                    {
                                        source: function (request, response) {
                                            $.ajax({
                                                url: '@Url.Action("TagSearch", "Sale")',
                                                dataType: "json",
                                                data: {
                                                    term: request.term,
                                                    changedDropDown: $('#txt_itemType').val()
                                                },
                                                success: function (data) {
                                                    //response(data);
                                                    response($.map(data, function (item) {
                                                        return {
                                                            label: item,
                                                            value: item
                                                        };
                                                    }));
                                                }
                                            });
                                        },

                                        change: txtOneChanged,
                                        select: function (event, ui) {
                                            $("#txtItemNm").val(ui.item.label);
                                            txtOneChanged();
                                        },
                                    });


                                function txtOneChanged() {
                                    var changedText = $("#txtItemNm").val();
                                    var changeditemType = $("#txt_itemType").val();

                                    var txtBox = document.getElementById('txtItemId');
                                    var txtRate = document.getElementById('txtRate');
                                    var txtqty = document.getElementById('txtQty');


                                    $.getJSON(
                                        '/Sale/ItemNameChanged', { "ChangedText": changedText, "ChangeditemType": changeditemType },
                                        function (result) {
                                            txtBox.value = result.itemid;
                                            txtRate.value = result.Rate;
                                            txtqty.value = result.qty;

                                            var myBox1 = document.getElementById('txtQty').value;
                                            var myBox2 = document.getElementById('txtRate').value;
                                            var txtAmt = document.getElementById('txtAmt');
                                            var tottxtAmt = (myBox1 * myBox2);

                                            txtAmt.value = tottxtAmt;
                                            document.getElementById("txtPositionName").focus();
                                        });


                                };



                                $("#txt_itemType").change(function () {

                                    $("#txtItemNm").val("");
                                    $("#txtItemId").val("");
                                    $("#txtRate").val("");
                                    $("#txtQty").val("");
                                    $("#txtAmt").val("");

                                    var changedtxt = $('#txt_itemType').val();
                                    if (changedtxt == "THERAPY") {
                                        $('#patient').show();

                                    }
                                    else //(changedtxt == "ACCESSORIES")
                                    {
                                        $('#patient').hide();

                                    }
                                    document.getElementById("txtItemNm").focus();
                                });




                                $('#txtPositionName').autocomplete({
                                    source: '@Url.Action("TagSearch_PositionName", "Sale")',
                                    change: txtChanged_Position,
                                    select: function (event, ui) {
                                        $("#txtPositionName").val(ui.item.label);
                                        txtChanged_Position();
                                    },
                                });


                                function txtChanged_Position() {

                                    var changedText = $("#txtPositionName").val();
                                    var txtPosNid = document.getElementById('txtPosNid');

                                    $.getJSON(
                                        "/Sale/PositionNameChanged", { "ChangedText": changedText },
                                        function (myData) {
                                            txtPosNid.value = myData;
                                            document.getElementById("txtQty").focus();
                                        });
                                };




                                $("#txtQty").change(function () {

                                    var myBox1 = document.getElementById('txtQty').value;
                                    var myBox2 = document.getElementById('txtRate').value;
                                    var txtAmt = document.getElementById('txtAmt');
                                    var tottxtAmt = (myBox1 * myBox2);

                                    txtAmt.value = tottxtAmt;
                                    document.getElementById("btnAdd").focus();
                                });



                                $("#txtRate").change(function () {

                                    var myBox1 = document.getElementById('txtQty').value;
                                    var myBox2 = document.getElementById('txtRate').value;
                                    var txtAmt = document.getElementById('txtAmt');
                                    var tottxtAmt = (myBox1 * myBox2);

                                    txtAmt.value = tottxtAmt;
                                    document.getElementById("btnAdd").focus();
                                });















                                $("#btnAdd").change(function () {
                                    document.getElementById("txtQty").focus();
                                });


                                $("#txtMstDiscAmt").change(function () {

                                    document.getElementById('txtMstNetAmount').value = (document.getElementById('txtMstTotAmt').value - document.getElementById('txtMstDiscAmt').value).toFixed(2);
                                    document.getElementById('txtMstCashAmount').value = document.getElementById('txtMstNetAmount').value;
                                    document.getElementById('txtMstCreditAmount').value = (parseFloat(document.getElementById('txtMstNetAmount').value) - parseFloat(document.getElementById('txtMstCashAmount').value)).toFixed(2);

                                });



                                $("#txtMstCashAmount").change(function () {

                                    document.getElementById('txtMstCreditAmount').value = (parseFloat(document.getElementById('txtMstNetAmount').value) - parseFloat(document.getElementById('txtMstCashAmount').value)).toFixed(2);
                                    if (document.getElementById('txtMstCreditAmount').value < 0) {
                                        document.getElementById('txtMstCreditAmount').value = 0;
                                    }
                                    document.getElementById("txtMstRemarks").focus();
                                });



                                $('#POS_ButtonId').click(function () {
                                    setTimeout(function () { window.location.reload(); }, 100);
                                });
                                $('#A4_ButtonId').click(function () {
                                    setTimeout(function () { window.location.reload(); }, 100);
                                });

                            });

                            
                        </script>


                      

                        <style type="text/css">
                            .ui-autocomplete {
                                position: absolute;
                                cursor: default;
                                background: #f0ffff;
                                max-height: 200px;
                                overflow-y: auto;
                                /* prevent horizontal scrollbar */
                                overflow-x: hidden;
                                /* add padding to account for vertical scrollbar */
                                padding-right: 20px;
                            }


                            /*html .ui-autocomplete {
                                    width: 1px;
                                }

                                .ui-menu {
                                    list-style: none;
                                    padding: 2px;
                                    margin: 0;
                                    display: block;
                                    float: left;
                                }

                                    .ui-menu .ui-menu {
                                        margin-top: -3px;
                                    }

                                    .ui-menu .ui-menu-item {
                                        margin: 0;
                                        padding: 0;
                                        zoom: 1;
                                        float: left;
                                        clear: left;
                                        width: 100%;
                                    }

                                        .ui-menu .ui-menu-item a {
                                            text-decoration: none;
                                            display: block;
                                            padding: .2em .4em;
                                            line-height: 1.5;
                                            zoom: 1;
                                        }

                                            .ui-menu .ui-menu-item a.ui-state-hover,
                                            .ui-menu .ui-menu-item a.ui-state-active {
                                                font-weight: normal;
                                                margin: -1px;
                                            }*/
                        </style>
}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/Underscore.js"></script>
